version: 1
metadata:
  category: System
  name: Chartmuseum
  version: 0.16.1
  tagline: Store Helm charts
  description: >-
    This app is used internally to store Helm charts for apps. It can not be uninstalled.
  developers:
    Helm: https://helm.sh/
  repos:
    Chartmuseum: https://github.com/helm/chartmuseum
  support: https://github.com/helm/chartmuseum
  gallery:
  - 1.jpg
  - 2.jpg
  - 3.jpg
  icon: https://nirvati.org/logo.svg
  license: AGPL-3.0-or-later
  volumes:
    data:
      minimum_size: 25Mi
      recommended_size: 100Mi
      name: Charts
      description: Generated Helm Chart files.
  type: Library
  exposes_permissions:
    - id: access-charts
      name: Access and modify charts
      description: Download, upload and delete charts
      services:
        main:
          - 8080
  allow_ingress_from_ns:
    - {{ user }}