version: 1

containers:
  updater:
    image: harbor.nirvati.org/nirvati/telemetry:master
    schedule: "0 0 * * *"
    restart: on-failure
    environment:
      NIRVATI_VERSION: master
      INSTALL_ID: {{ derive_entropy(identifier="install_id") }}
