version: 1

secrets:
  pg-credentials:
    string_data:
      username: nirvati
      password: {{ derive_entropy(identifier="db_password") }}
      uri: postgresql://nirvati:{{ derive_entropy(identifier="db_password") }}@postgres.nirvati.svc.cluster.local:5432/nirvati

services:
  dns:
    ports:
      udp:
        53: 53
    type: ClusterIp
    cluster_ip: 10.43.0.11
    target_container: dns

ingress:
  - target_svc: longhorn-frontend
    target_ns: longhorn-system
    port: 80
    path_prefix: /longhorn
    
containers:
  main:
    image: harbor.nirvati.org/nirvati/dashboard:latest-beta
    ingress_port: 3000
  api:
    image: harbor.nirvati.org/nirvati/api:master
    ingress_port: 80
    environment:
      DATABASE_URL:
        secret: pg-credentials
        key: uri
      BIND_ADDRESS: "[::]:80"
      CORE_ENDPOINT: http://core.nirvati.svc.cluster.local:8080
      APPS_ENDPOINT: http://apps.nirvati.svc.cluster.local:8080
      HTTPS_ENDPOINT: http://https.nirvati.svc.cluster.local:8080
      JWT_SECRET: {{ derive_entropy(identifier="jwt_secret") }}
      APPS_DIR: /apps
      LONGHORN_ENDPOINT: http://longhorn-backend.longhorn-system.svc.cluster.local:9500
    path_prefix: /api
    mounts:
      data:
        apps: /apps
    service_account:
      cluster_rules:
      - apiGroups: ['']
        resources: ['persistentvolumeclaims']
        verbs: ['get', 'list']
      rules:
      - apiGroups: ['']
        resources: ['secrets']
        verbs: ['get', 'create']
  updater:
    image: harbor.nirvati.org/nirvati/bg-updater:master
    schedule: "0 * * * *"
    restart: on-failure
    environment:
      DATABASE_URL:
        secret: pg-credentials
        key: uri
      APPS_ENDPOINT: http://apps.nirvati.svc.cluster.local:8080
  core:
    image: harbor.nirvati.org/nirvati/core:master
    internal_ports:
      tcp:
        8080: 8080
    environment:
      TAILSCALE_SOCKET: /tailscale/tailscaled.sock
      # This secret is initialized by init
      NIRVATI_SEED:
        secret: nirvati-seed
        key: seed
    mounts:
      host_paths:
        /var/run/tailscale: /tailscale
    service_account:
      cluster_rules:
      - apiGroups: ['*']
        resources: ['*']
        verbs: ['*']
      - nonResourceURLs: ['*']
        verbs: ['*']
  apps:
    image: harbor.nirvati.org/nirvati/app-manager:master
    internal_ports:
      tcp:
        8080: 8080
    mounts:
      data:
        apps: /apps
    environment:
      APPS_PATH: /apps
      NIRVATI_APP_STORE_VERSION: main
      NIRVATI_SEED:
        secret: nirvati-seed
        key: seed
    service_account:
      cluster_rules:
      - apiGroups: ['*']
        resources: ['*']
        verbs: ['*']
      - nonResourceURLs: ['*']
        verbs: ['*']
  postgres:
    image: postgres:16.1
    internal_ports:
      tcp:
        5432: 5432
    mounts:
      data:
        db/postgres: /var/lib/postgresql/data
    environment:
      POSTGRES_USER:
        secret: pg-credentials
        key: username
      POSTGRES_PASSWORD:
        secret: pg-credentials
        key: password
  https:
    image: harbor.nirvati.org/nirvati/https:master
    internal_ports:
      tcp:
        8080: 8080
    service_account:
      cluster_rules:
      - apiGroups: ['*']
        resources: ['*']
        verbs: ['*']
      - nonResourceURLs: ['*']
        verbs: ['*']
  dns:
    image: harbor.nirvati.org/nirvati/dns:master
    environment:
      DATABASE_URL:
        secret: pg-credentials
        key: uri
  adminer:
    image: adminer:4.8.1-standalone
    ingress_port: 8080
    path_prefix: /adminer

